<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/weather">Weather</a></li>
            <li><a href="/latest-news">Latest News</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/sports-news">Sports News</a></li>
        </ul>
    </nav>
    <div class="container">
    <h1>About Us</h1>
    <p>Information about the company.</p>
    <p>About Update 24x7
        Update 24x7 is a dedicated news organization committed to delivering timely and accurate news via newspaper. We strive to keep our readers informed with the latest developments across various sectors, ensuring comprehensive coverage and insightful reporting. Our mission is to uphold the values of journalism by providing trustworthy news that empowers our community.
        </p>
    </div>
</body>
</html>
